* {
	box-sizing: border-box;
}

#topbar {
	width: 100%;
	height: 45px;
	background-color: black;
	position: fixed;
	top: 0;
	z-index: 2;
	min-width: 800px;
}

#login {
	display: inline;
	position: absolute;
	left: 30px;
	top: 5px;
	letter-spacing: 5px;
}

#logo {
	width: 37%;
	height: 37%;
	display: block;
	position: relative;
    margin-left: auto;
    margin-right: auto;
	top: 14px;
}

.icon {
	height: 40%;
	position: absolute;
	right: 10px;
	top: 14px;
	display: inline-block;
}

#heart {
	right: 100px; 
}

#bag {
	right: 60px;
}

#search {
	right: 20px;
}

#menu {
	width: 100%;
	min-width: 800px;
	height: 40px;
	background-color: white;
	position: relative;
	top: 45px;
}

.menulink {
	height: 11px;
	display: inline-block;
	margin: 14px 40px;
}

#nav {
	text-align: center;
}

body {
	border: 0;
	padding: 0;
	margin: 0;
}

.page {
	max-width: 100%;
	min-width: 1000px;
	display: block;
	margin-top: 45px;
}

.content {
	max-width: 100%;
	margin: 0 auto;
}

#homequizlink {
	width: 80%;
	height: 330px;
	top: 22%;
	margin: 0 10%;
	display: inline;
	position: absolute
	
}

/*------fonts-----*/
p {
	font-family: sans-serif;
	font-weight: 100;
	color: white;
	font-size: 12px;
}

/*-----quiz------*/

#menu_quiz {
	width: 100%;
	min-width: 800px;
	height: 40px;
	background-color: white;
	position: fixed;
	top: 45px;
	z-index: 1;
}
.quiz {
	top: 45px;
	position: fixed;
	z-index: -1;
	min-height: 100%;
	min-width: 100%;
}

#startcontain {
	text-align: center;
	display: block;
	margin-top: 180px;
}

#start {
	margin-top: 2%;
	margin-right: 4%;
}

#quizcontent {
	text-align: center;
	display: block;
	margin-top: 170px;
}

.backnext {
	margin-top: 10px;
	margin-bottom: 30px;
	position: relative;
}

.q1 {
	max-width: 1000px;
	margin-top: 10px;
}


#undertone {
	margin-top: 30px;
	height: 28px;
	margin-left: 410px;
	position: absolute;
	padding: 7px;
}
#skin {
	margin-top: 30px;
	height: 28px;
	margin-left: 760px;
	position: absolute;
	padding: 7px;
}

.selector {
	z-index: 2;
	
}

.links {
	width: 90%;
	display: inline;
	position: relative;
}

.scale {
	max-width: 1000px;
	margin: 0 auto;
}

#c1 {
	width: 80px;
	height: 120px;
	position: absolute;
	margin-top: 70px;
	margin-left: -5px;
	opacity: 0;
}

#c2 {
	width: 125px;
	height: 130px;
	position: absolute;
	margin-top: 190px;
	margin-left: 440px;
	opacity: 0;
}

#c3 {
	width: 125px;
	height: 130px;
	position: absolute;
	margin-top: 190px;
	margin-left: 745px;
	opacity: 0;
}

.button {
	width: 250px;
}
#back {
	width: 100px;
	height: 50px;
	display: inline-block;
	position: absolute;
	margin-left: -110px;
	margin-top: -72px;
}

#next {
	width: 100px;
	height: 50px;
	display: inline-block;
	position: absolute;
	margin-right: 10px;
	margin-top: -72px;
}


#undertone:hover + #undertext {
  opacity: 100;
}

#undertext {
	position: absolute;
	margin-top: 50px;
	margin-left: 300px;
	opacity: 0;
}


#skin:hover + #skintext {
  opacity: 100;
}

#skintext {
	position: absolute;
	margin-top: 50px;
	margin-left: 660px;
	opacity: 0;
}

/*------- q2 ------*/


.container {
	position: relative;
}



.hover2 {
	position: absolute;
	z-index: 1;
	margin-left: 455px;
	margin-top: 50px;
}

.inner {
	position: absolute;
	z-index: 0;
}

#c4 {
	width: 140px;
	height: 50px;
	position: absolute;
	margin-top: 300px;
	left: -320px;
	opacity: 0;
}

#c5 {
	width: 140px;
	height: 50px;
	position: absolute;
	margin-top: 220px;
	left: 140px;
	opacity: 0;
}

#c6 {
	width: 170px;
	height: 50px;
	position: absolute;
	margin-top: 330px;
	left: 130px;
	opacity: 0;
}

/*-----q3--------*/

.scale800 {
	width: 800px;
	margin: 0 auto;
	margin-bottom: 20px;
}

#q3 {
	width: 800px;
	height: 400px;
}

#c7 {
	width: 250px;
	height: 300px;
	position: absolute;
	margin-top: 150px;
	margin-left: 8px;
	opacity: 0;
}

#c7 img {
	margin-top: 210px;
}
/*-----q4--------*/

#c8 {
	width: 140px;
	height: 50px;
	position: absolute;
	margin-top: 390px;
	margin-left: 55px;
	opacity: 0;
}

#c9 {
	width: 350px;
	height: 50px;
	position: absolute;
	margin-top: 210px;
	margin-left: 460px;
	opacity: 0;
}

/*-------q5-----*/

#makeup {
	margin: 20px 0;
}

#c10 {
	width: 200px;
	height: 50px;
	position: absolute;
	margin-top: 310px;
	margin-left: 10px;
	opacity: 0;
}

#c11 {
	width: 200px;
	height: 50px;
	position: absolute;
	margin-top: 310px;
	margin-left: 390px;
	opacity: 0;
}

#c12 {
	width: 270px;
	height: 50px;
	position: absolute;
	margin-top: 190px;
	margin-left: 750px;
	opacity: 0;
}

/*-------q6-----*/

#c13 {
	width: 250px;
	height: 50px;
	position: absolute;
	margin-top: 180px;
	margin-left: 40px;
	opacity: 0;
}

#c14 {
	width: 250px;
	height: 50px;
	position: absolute;
	margin-top: 240px;
	margin-left: 40px;
	opacity: 0;
}

#c15 {
	width: 180px;
	height: 50px;
	position: absolute;
	margin-top: 245px;
	margin-left: 735px;
	opacity: 0;
}


/*-------q7-----*/

#q8 {
	margin: 10px 0 30px 0;
}

#c16 {
	width: 180px;
	height: 50px;
	position: absolute;
	margin-top: 190px;
	margin-left: 540px;
	opacity: 0;
}

/*-----profile-----*/

#profile {
	max-width: 100%;
	position: relative;
	min-width: 1000px;
	height: 600px;
	top: 90px;
}

#profile img {
	max-width: 100%;
	min-width: 1000px;
	position: relative;
}

#c17 {
	width: 250px;
	height: 50px;
	position: absolute;
	margin-top: 34%;
	margin-left: 35%;
	z-index: 2;
}

/* ----- rec -------*/

#rec img {
	max-width: 100%;
	margin-top: 90px;
}